<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madlibs</title>
</head>

<body>
  <h1>Madlibs</h1>
  <!-- <form action="/story">
    <p>
      <label for="">place:</label>
      <input type="text" name="place">
    </p>
    <p>
      <label for="">noun:</label>
      <input type="text" name="noun">
    </p>
    <p>
      <label for="">verb:</label>
      <input type="text" name="verb">
    </p>
    <p>
      <label for="">adjective:</label>
      <input type="text" name="adjective">
    </p>
    <p>
      <label for="">plural_noun:</label>
      <input type="text" name="plural-noun">
    </p>
    <p>
      <input type="submit">
    </p>
  </form> -->

  <form action="/story">
    {% for prompt in prompts %} 
      <p>
        {{prompt}}: <input name="{{prompt}}"> 
      </p>
    {% endfor %}
    <button>Submit</button>
  </form>
</body>

</html>